<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pengaturan Menu</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pengaturan</li>
                    <li class="breadcrumb-item active">Menu</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

<!-- Main content -->
        <div class="content">
            <div class="container-fluid">
            
                <div class="card card-primary card-outline">
                    <div class="card-header bg-white">
                        <h3 class="card-title mb-0">Menu Utama</h3>
                        <div class="card-tools">
                            <button id="add" @click="add" target="false" class="btn btn-sm btn-success">
                                <i class="fas fa-plus"></i> Buat Menu
                            </button>
                        </div>
                    </div>
                    <div class="mt-3" id="targetAdd">
                            <form @submit.prevent="addMenu" id='addForm' style="display:none">
                            
                            <div class="form-row ml-5">
                                <div class="col-sm-5">
                                <input type="text" v-model="form.name" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Nama Menu">
                                <has-error :form="form" field="name"></has-error>
                                </div>
                                <div class="col-sm-5">
                                <input type="text" v-model="form.link" class="form-control" :class="{ 'is-invalid': form.errors.has('link') }" placeholder="Link">
                                <has-error :form="form" field="link"></has-error>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
                                </div>
                            </div>
                            <div class="form-row ml-5 p-2">
                                <input type="checkbox" v-model="form.newtab"> <span class="text-secondary ml-2"> Buka tab baru </span>
                            </div>
                            
                            <hr>
                            </form>
                    </div>
                <div class="card-body">
                  

                  <div class="table-responsive">
                    <div v-if="menus.length == 0">
                      <div class="alert alert-fill-info">
                        <strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada menu!</strong>
                      </div>
                    </div>
                    <table class="table table-hover" v-else>
                        <thead class="bg-white">
                            <tr>
                                <th style="width:30px;">#</th>
                                <th>Nama Menu</th>
                                <th>Link</th>
                                <th class="text-center" style="width:200px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(menu, index) in menus" :key="index">
                                <td class="text-center">{{ index+1 }}</td>
                                <td>

                                  <div :class="'onchange'+menu.id" style="display:none" class='change'>
                                    <input type="text" class="form-control" v-model="update.name"  :class="{ 'is-invalid': update.errors.has('name') }" placeholder="Nama Menu">
                                    <has-error :form="update" field="name"></has-error>
                                  </div>
                                  <div :class="'onchange'+menu.id" style="display:none" class='change pl-4'>
                                    <input type="checkbox" class="form-check-input" v-model="update.newtab"> <label class="form-check-label"> Buka tab baru </label>
                                  </div>

                                  <div :class="'values'+menu.id" class="value">
                                    {{ menu.name }} <br> <small v-show="menu.newtab" class="cyan">Buka tab baru</small>
                                  </div>
                                </td>
                                <td>

                                  <div :class="'onchange'+menu.id" style="display:none" class='change'>
                                    <input type="text" class="form-control" v-model="update.link" :class="{ 'is-invalid': update.errors.has('link') }" placeholder="Link">
                                    <has-error :form="update" field="link"></has-error>
                                  </div>

                                  <div :class="'values'+menu.id" class="value">
                                    {{ menu.link }}
                                  </div>
                                </td>
                                <td class="text-center">

                                  <button class="btn btn-success btn-sm change" @click="updateMenu(menu.id)" :class="'onchange'+menu.id" style="display:none">
                                    <i class="fas fa-save"></i> Simpan
                                  </button>

                                  <button @click="edit(menu.id, menu.name, menu.link, menu.newtab)" :id="'edit'+menu.id" target="false" class="btn text-white btn-info btn-sm">
                                    <i class="fas fa-edit"></i> Edit
                                  </button> 

                                  <button @click="remove(menu.id)" class="btn btn-danger btn-sm value" :class="'values'+menu.id">
                                    <i class="fas fa-trash"></i> Hapus
                                  </button>
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>


                  </div>



                </div>  
              </div>

              <submenu></submenu>
                
            </div>
        </div>

    </div>
</template>
<script>
export default {
  data() {
      return {
        menus:[],
        check: '',
        form: new Form({
          name:'', 
          link:'',
          newtab:false
        }),
        update: new Form({
          name:'', 
          link:'',
          newtab:''
        })
        
      }
  },
  methods:{
      updateMenu(id){
        this.$Progress.start()
        this.update.put('/api/menu/'+id).then( ({data}) => {
          if(data.status == 'true'){
              this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
                $('.change').hide()
                $('.value').show()
                $('.cancel').attr('target', 'false')
                $('.cancel').html('<i class="fas fa-edit"></i> Edit')
                $('.cancel').attr('class', 'btn btn-info btn-sm text-white')
                this.loadMenu()
                this.$Progress.finish()
          }else{
              this.$swal({
                  title: 'Failed!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
              this.$Progress.fail()
          }
        })
      },
      loadMenu(){
        this.$Progress.start()
        axios.get('/api/getmenu')
        .then( ({data})=>{
            this.menus = data
            this.$Progress.finish()
        })
        .catch( ({response}) =>{
            if(response.status=='401'){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sesi telah berakhir, silahkan masuk kembali!',
                }).then( response => {
                    this.$router.go('/login')
                })
            }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
            this.$Progress.fail() 
        })
      },
      addMenu(){
        this.$Progress.start()
        this.form.post('/api/menu').then( ({data}) => {
          if(data.status == 'true'){
              this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
                  this.form.name = ''
                  this.form.link = ''
                  this.form.newtab = false
                  $('#addForm').slideUp()
                  this.check = $('#add').attr('target')
                  if(this.check == 'false'){
                    $('#add').attr('target', 'true')
                    $('#add').attr('class', 'btn btn-sm btn-danger')
                    $('#add').html('<i class="fas fa-times"></i> Batal')
                  }else{
                    $('#add').attr('target', 'false')
                    $('#add').attr('class', 'btn btn-sm btn-success')
                    $('#add').html('<i class="fas fa-plus"></i> Buat Menu')
                  }
                this.loadMenu()
                this.$Progress.finish()
          }else{
              this.$swal({
                  title: 'Gagal!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
              this.$Progress.fail()
          }
        })
        .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
      },
      edit(id, name, link, newtab){
        
        var check = $('#edit'+id).attr('target')
        if(check == 'false'){
            $('.change').hide()
            $('.value').show()
            $('.values'+id).hide()
            $('.onchange'+id).show()
            this.update.name = name
            this.update.link = link
            this.update.newtab = newtab
            $('.cancel').attr('target', 'false')
            $('.cancel').html('<i class="fas fa-edit"></i> Edit')
            $('.cancel').attr('class', 'btn btn-info btn-sm text-white') 
            $('#edit'+id).attr('target', 'true')
            $('#edit'+id).html('<i class="fas fa-times"></i> Batal')
            $('#edit'+id).attr('class', 'btn btn-danger btn-sm cancel')
        }else{
            
            $('.values'+id).show()
            $('.onchange'+id).hide()
            this.update.reset()
            $('#edit'+id).attr('target', 'false') 
            $('#edit'+id).html('<i class="fas fa-edit"></i> Edit')
            $('#edit'+id).attr('class', 'btn btn-info btn-sm text-white')      
        }
      },
      add(e){
        var check = e.currentTarget.getAttribute('target')
        
        if(check == 'false'){
          $('#addForm').slideDown()
          e.currentTarget.setAttribute('target', 'true')
          $('#add').attr('class', 'btn btn-sm btn-danger')
          $('#add').html('<i class="fas fa-times"></i> Batal')
        }else{
          $('#addForm').slideUp()
          e.currentTarget.setAttribute('target', 'false')
          $('#add').attr('class', 'btn btn-sm btn-success')
          $('#add').html('<i class="fas fa-plus"></i> Buat Menu')
          this.form.name = '',
          this.form.link = '',
          this.form.newtab = false
        }
      },
      remove(id) {
        this.$swal({
          title: 'Apa anda yakin?',
          text: "Anda tidak dapat mengembalikan data ini!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'Batal',
          confirmButtonText: 'Ya, Hapus !'
        }).then((result) => {
          if (result.value) {
            this.$Progress.start()
            axios.delete('/api/menu/'+id).then( ({data}) => {
              
              if(data.status == 'true'){
                this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.loadMenu()
                this.$Progress.finish()
              }else{
                this.$swal({
                  title: 'Gagal!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.$Progress.fail()
              }
            })
            
          }
        })
      }
  },
  created(){
    this.loadMenu()
  }
}

</script>
