<template>
    <div>
            
        <div class="card">
            <div class="card-header bg-white">
                <h3 class="card-title mb-0">Sub Menu</h3>
                <div class="card-tools">
                    <button id="addSub" @click="addSub" target="false" class="btn btn-sm btn-success">
                        <i class="fas fa-plus"></i> Buat Sub Menu
                    </button>
                </div>
            </div>
            <div class="mt-3" id="targetAdd">
                    <form @submit.prevent="addSubMenu" id='addSubForm' style="display:none">
                    
                    <div class="form-row ml-5">
                        <div class="col-sm-3">
                            <multiselect v-model="form.menu" :options="menus" placeholder="Pilih menu" label="name" track-by="name" :class="{ 'is-invalid': form.errors.has('menu') }">
                                <span slot="noResult">Menu tidak ditemukan.</span>
                            </multiselect>
                            <has-error :form="form" field="menu"></has-error>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" v-model="form.name" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Nama Menu">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="col-sm-4">
                        <input type="text" v-model="form.link" class="form-control" :class="{ 'is-invalid': form.errors.has('link') }" placeholder="Link">
                        <has-error :form="form" field="link"></has-error>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
                        </div>
                    </div>
                    <div class="form-row ml-5 p-2">
                        <input type="checkbox" v-model="form.newtab"> <span class="text-secondary ml-2"> Buka tab baru </span>
                    </div>
                    
                    <hr>
                    </form>
            </div>
            <div class="card-body">
                    
                <div class="table-responsive">
                    <div v-if="submenus.length == 0">
                        <div class="alert alert-fill-info">
                            <strong><i class="mdi mdi-information"></i>Tidak ada submenu!</strong>
                        </div>
                    </div>
                    <table class="table table-hover" v-else>
                        <thead class="bg-white">
                            <tr>
                                <th style="width:30px;">#</th>
                                <th>Menu Utama</th>
                                <th>Nama Menu</th>
                                <th>Link</th>
                                <th class="text-center" style="width:200px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(menu, index) in submenus" :key="index">
                                <td class="text-center">{{ index+1 }}</td>
                                <td>
                                    <div :class="'onchangeSub'+menu.id" style="display:none" class='changeSub'>
                                        <multiselect v-model="update.menu" :options="menus" placeholder="Pilih menu" label="name" track-by="name" :class="{ 'is-invalid': update.errors.has('menu') }">
                                            <span slot="noResult">Menu tidak ditemukan.</span>
                                        </multiselect>
                                        <has-error :form="update" field="menu"></has-error>
                                    </div>

                                    <div :class="'valuesSub'+menu.id" class="valueSub">
                                        {{ menu.menu.name }}
                                    </div>
                                </td>
                                <td>

                                    <div :class="'onchangeSub'+menu.id" style="display:none" class='changeSub'>
                                    <input type="text" class="form-control" v-model="update.name"  :class="{ 'is-invalid': update.errors.has('name') }" placeholder="Nama Menu">
                                    <has-error :form="update" field="name"></has-error>
                                    </div>
                                    <div :class="'onchangeSub'+menu.id" style="display:none" class='changeSub pl-4'>
                                    <input type="checkbox" class="form-check-input" v-model="update.newtab"> <label class="form-check-label"> Buka tab baru </label>
                                    </div>

                                    <div :class="'valuesSub'+menu.id" class="valueSub">
                                    {{ menu.name }} <br> <small v-show="menu.newtab" class="cyan">Buka tab baru</small>
                                    </div>

                                </td>
                                <td>

                                    <div :class="'onchangeSub'+menu.id" style="display:none" class='changeSub'>
                                    <input type="text" class="form-control" v-model="update.link" :class="{ 'is-invalid': update.errors.has('link') }" placeholder="Link">
                                    <has-error :form="update" field="link"></has-error>
                                    </div>

                                    <div :class="'valuesSub'+menu.id" class="valueSub">
                                    {{ menu.link }}
                                    </div>
                                </td>
                                <td class="text-center">

                                    <button class="btn btn-success btn-sm changeSub" @click="updateSubMenu(menu.id)" :class="'onchangeSub'+menu.id" style="display:none">
                                    <i class="fas fa-save"></i> Simpan
                                    </button>

                                    <button @click="editSub(menu.id, menu.menu, menu.name, menu.link, menu.newtab)" :id="'editSub'+menu.id" target="false" class="btn text-white btn-info btn-sm">
                                    <i class="fas fa-edit"></i> Edit
                                    </button> 

                                    <button @click="removeSub(menu.id)" class="btn btn-danger btn-sm valueSub" :class="'valuesSub'+menu.id">
                                    <i class="fas fa-trash"></i> Hapus
                                    </button>
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</template>
<script>
export default {
  data() {
      return {
        menus:[],
        submenus:[],
        check: '',
        form: new Form({
          menu:'',
          name:'', 
          link:'',
          newtab:false
        }),
        update: new Form({
          menu:'',
          name:'', 
          link:'',
          newtab:''
        })
        
      }
  },
  methods:{
      updateSubMenu(id){
        this.$Progress.start()
        this.update.put('/api/submenu/'+id).then( ({data}) => {
          if(data.status == 'true'){
              this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
                $('.changeSub').hide()
                $('.valueSub').show()
                $('.cancelSub').attr('target', 'false')
                $('.cancelSub').html('<i class="fas fa-edit"></i> Edit')
                $('.cancelSub').attr('class', 'btn btn-info btn-sm text-white')
                this.loadSubMenu()
                this.$Progress.finish()
          }else{
              this.$swal({
                  title: 'Failed!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
              this.$Progress.fail()
          }
        })
      },
      loadMenu(){
        this.$Progress.start()
        axios.get('/api/getmenu')
        .then( ({data})=>{
            this.menus = data
            this.loadSubMenu()
            this.$Progress.finish()
        })
        .catch( ({response}) =>{
            if(response.status=='401'){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sesi telah berakhir, silahkan masuk kembali!',
                }).then( response => {
                    this.$router.go('/login')
                })
            }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
            this.$Progress.fail() 
        })
      },
      loadSubMenu(){
        this.$Progress.start()
        axios.get('/api/submenu')
        .then( ({data})=>{
            this.submenus = data
            this.$Progress.finish()
        })
        .catch( ({response}) =>{
            if(response.status=='401'){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sesi telah berakhir, silahkan masuk kembali!',
                }).then( response => {
                    this.$router.go('/login')
                })
            }
            this.$Progress.fail() 
        })
      },
      addSubMenu(){
        this.$Progress.start()
        this.form.post('/api/submenu').then( ({data}) => {
          if(data.status == 'true'){
              this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
                  this.form.menu = ''
                  this.form.name = ''
                  this.form.link = ''
                  this.form.newtab = false
                  $('#addSubForm').slideUp()
                  this.check = $('#addSub').attr('target')
                  if(this.check == 'false'){
                    $('#addSub').attr('target', 'true')
                    $('#addSub').attr('class', 'btn btn-sm btn-danger')
                    $('#addSub').html('<i class="fas fa-times"></i> Batal')
                  }else{
                    $('#addSub').attr('target', 'false')
                    $('#addSub').attr('class', 'btn btn-sm btn-success')
                    $('#addSub').html('<i class="fas fa-plus"></i> Buat Menu')
                  }
                this.loadSubMenu()
                this.$Progress.finish()
          }else{
              this.$swal({
                  title: 'Gagal!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
              })
              this.$Progress.fail()
          }
        })
      },
      editSub(id, menu, name, link, newtab){
        
        var check = $('#editSub'+id).attr('target')
        if(check == 'false'){
            $('.changeSub').hide()
            $('.valueSub').show()
            $('.valuesSub'+id).hide()
            $('.onchangeSub'+id).show()
            this.update.menu = menu
            this.update.name = name
            this.update.link = link
            this.update.newtab = newtab
            $('.cancelSub').attr('target', 'false')
            $('.cancelSub').html('<i class="fas fa-edit"></i> Edit')
            $('.cancelSub').attr('class', 'btn btn-info btn-sm text-white') 
            $('#editSub'+id).attr('target', 'true')
            $('#editSub'+id).html('<i class="fas fa-times"></i> Batal')
            $('#editSub'+id).attr('class', 'btn btn-danger btn-sm cancelSub')
        }else{
            
            $('.valuesSub'+id).show()
            $('.onchangeSub'+id).hide()
            this.update.reset()
            $('#editSub'+id).attr('target', 'false') 
            $('#editSub'+id).html('<i class="fas fa-edit"></i> Edit')
            $('#editSub'+id).attr('class', 'btn btn-info btn-sm text-white')      
        }
      },
      addSub(e){
        var check = e.currentTarget.getAttribute('target')
        
        if(check == 'false'){
          $('#addSubForm').slideDown()
          e.currentTarget.setAttribute('target', 'true')
          $('#addSub').attr('class', 'btn btn-sm btn-danger')
          $('#addSub').html('<i class="fas fa-times"></i> Batal')
        }else{
          $('#addSubForm').slideUp()
          e.currentTarget.setAttribute('target', 'false')
          $('#addSub').attr('class', 'btn btn-sm btn-success')
          $('#addSub').html('<i class="fas fa-plus"></i> Buat Menu')
          this.form.menu = '',
          this.form.name = '',
          this.form.link = '',
          this.form.newtab = false
        }
      },
      removeSub(id) {
        this.$swal({
          title: 'Apa anda yakin?',
          text: "Anda tidak dapat mengembalikan data ini!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'Batal',
          confirmButtonText: 'Ya, Hapus !'
        }).then((result) => {
          if (result.value) {
            this.$Progress.start()
            axios.delete('/api/submenu/'+id).then( ({data}) => {
              
              if(data.status == 'true'){
                this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.loadSubMenu()
                this.$Progress.finish()
              }else{
                this.$swal({
                  title: 'Gagal!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.$Progress.fail()
              }
            })
            
          }
        })
      }
  },
  created(){
    this.loadMenu()
  }
}

</script>
