<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pengaturan Jenjang Pendidikan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pengaturan</li>
                    <li class="breadcrumb-item active">Jenjang Pendidikan</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header bg-white">
                        <span class="card-title">Jenjang Pendidikan</span>
                        <div class="card-tools">
                            <button class="btn btn-success btn-sm" id="add" @click="add" target="false"><i class="fas fa-plus"></i> Tambah Jenjang</button>
                        </div>
                        <div class="mt-3" id="targetAdd">
                            <form @submit.prevent="addTier" id='addForm' style="display:none">
                                <div class="form-row ml-5">
                                    <div class="col-sm-5">
                                        <input type="text" v-model="form.name" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Nama Jenjang">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                    <div class="col-sm-5">
                                        <multiselect v-model="form.level" :options="levels" placeholder="Pilih Tingkatan">
                                            <span slot="noResult">Tingkatan tidak ditemukan.</span>
                                        </multiselect>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
                                    </div>
                                </div>
                                
                                <hr>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                        <div v-if="tiers.length == 0">
                        <div class="alert alert-fill-info">
                            <strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada Jenjang!</strong>
                        </div>
                        </div>
                        <table class="table table-hover" v-else>
                            <thead class="bg-white">
                                <tr>
                                    <th style="width:30px;">#</th>
                                    <th>Nama Jenjang</th>
                                    <th>Tingkatan</th>
                                    <th class="text-center" style="width:200px;">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(tier, index) in tiers" :key="index">
                                    <td class="text-center">{{ index+1 }}</td>
                                    <td>
                                        <div :class="'onchange'+tier.id" style="display:none" class='change'>
                                            <input type="text" class="form-control" v-model="update.name"  :class="{ 'is-invalid': update.errors.has('name') }" placeholder="Nama Jenjang">
                                            <has-error :form="update" field="name"></has-error>
                                        </div>
                                        <div :class="'values'+tier.id" class="value">
                                            {{ tier.name }}
                                        </div>
                                    </td>
                                    <td>
                                        <div :class="'onchange'+tier.id" style="display:none" class='change'>
                                            <multiselect v-model="update.level" :options="levels" placeholder="Pilih Tingkatan">
                                                <span slot="noResult">Tingkatan tidak ditemukan.</span>
                                            </multiselect>
                                        </div>
                                        <div :class="'values'+tier.id" class="value">
                                            {{ tier.level | levelText}}
                                        </div>
                                    </td>
                                    <td class="text-center">

                                    <button class="btn btn-success btn-sm change" @click="updateTier(tier.id)" :class="'onchange'+tier.id" style="display:none">
                                        <i class="fas fa-save"></i> Simpan
                                    </button>

                                    <button @click="edit(tier.id, tier.name, tier.level)" :id="'edit'+tier.id" target="false" class="btn text-white btn-info btn-sm">
                                        <i class="fas fa-edit"></i> Edit
                                    </button> 

                                    <button @click="removeTier(tier.id)" class="btn btn-danger btn-sm value" :class="'values'+tier.id">
                                        <i class="fas fa-trash"></i> Hapus
                                    </button>
                                    </td>

                                </tr>
                                
                            </tbody>
                        </table>


                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            tiers: [],
            levels:['Awal', 'Dasar', 'Menengah', 'Atas', 'Asrama', 'Khusus'],
            form: new Form({
                name:null,
                level:null,
            }),
            update: new Form({
                name:null,
                level:null
            })
        }
    },
    methods: {
        loadTiers(){
            this.$Progress.start()
            axios.get('/api/tiers')
            .then( ({data})=>{
                this.tiers = data
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
                this.$Progress.fail() 
            })
        },
        add(e){
            var check = e.currentTarget.getAttribute('target')
            
            if(check == 'false'){
                $('#addForm').slideDown()
                e.currentTarget.setAttribute('target', 'true')
                $('#add').attr('class', 'btn btn-sm btn-danger')
                $('#add').html('<i class="fas fa-times"></i> Batal')
            }else{
                $('#addForm').slideUp()
                e.currentTarget.setAttribute('target', 'false')
                $('#add').attr('class', 'btn btn-sm btn-success')
                $('#add').html('<i class="fas fa-plus"></i> Buat Jenjang')
                this.form.name = ''
            }
        },
        edit(id, name, level){
        
            var check = $('#edit'+id).attr('target')
            if(check == 'false'){
                $('.change').hide()
                $('.value').show()
                $('.values'+id).hide()
                $('.onchange'+id).show()
                this.update.name = name
                this.update.level = level
                $('.cancel').attr('target', 'false')
                $('.cancel').html('<i class="fas fa-edit"></i> Edit')
                $('.cancel').attr('class', 'btn btn-info btn-sm text-white') 
                $('#edit'+id).attr('target', 'true')
                $('#edit'+id).html('<i class="fas fa-times"></i> Batal')
                $('#edit'+id).attr('class', 'btn btn-danger btn-sm cancel')
            }else{
                
                $('.values'+id).show()
                $('.onchange'+id).hide()
                this.update.reset()
                $('#edit'+id).attr('target', 'false') 
                $('#edit'+id).html('<i class="fas fa-edit"></i> Edit')
                $('#edit'+id).attr('class', 'btn btn-info btn-sm text-white')      
            }
        },
        addTier(){
            this.$Progress.start()
            this.form.post('/api/tier').then( ({data}) => {
            if(data.status == 'true'){
                this.$swal({
                    title: 'Sukses!',
                    text: data.message,
                    type: 'success',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                    this.form.name = ''
                    $('#addForm').slideUp()
                    this.check = $('#add').attr('target')
                    if(this.check == 'false'){
                        $('#add').attr('target', 'true')
                        $('#add').attr('class', 'btn btn-sm btn-danger')
                        $('#add').html('<i class="fas fa-times"></i> Batal')
                    }else{
                        $('#add').attr('target', 'false')
                        $('#add').attr('class', 'btn btn-sm btn-success')
                        $('#add').html('<i class="fas fa-plus"></i> Buat Jenjang')
                    }
                    this.loadTiers()
                    this.$Progress.finish()
            }else{
                this.$swal({
                    title: 'Gagal!',
                    text: data.message,
                    type: 'error',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail()
            }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        updateTier(id){
            this.$Progress.start()
            this.update.put('/api/tier/'+id).then( ({data}) => {
            if(data.status == 'true'){
                this.$swal({
                    title: 'Sukses!',
                    text: data.message,
                    type: 'success',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                    $('.change').hide()
                    $('.value').show()
                    $('.cancel').attr('target', 'false')
                    $('.cancel').html('<i class="fas fa-edit"></i> Edit')
                    $('.cancel').attr('class', 'btn btn-info btn-sm text-white')
                    this.loadTiers()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        title: 'Failed!',
                        text: data.message,
                        type: 'error',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$Progress.fail()
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        removeTier(id){
            this.$swal({
                title: 'Apa anda yakin?',
                text: "Anda tidak dapat mengembalikan data ini!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Batal',
                confirmButtonText: 'Ya, Hapus !'
                }).then((result) => {
                if (result.value) {
                    this.$Progress.start()
                    axios.delete('/api/tier/'+id).then( ({data}) => {
                    
                    if(data.status == 'true'){
                        this.$swal({
                        title: 'Sukses!',
                        text: data.message,
                        type: 'success',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                        })
                        this.loadTiers()
                        this.$Progress.finish()
                    }else{
                        this.$swal({
                        title: 'Gagal!',
                        text: data.message,
                        type: 'error',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                        })
                        this.$Progress.fail()
                    }

                    })
                    .catch(({response}) => {
                        if(response.status=='401'){
                            this.$swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Sesi telah berakhir, silahkan masuk kembali!',
                            }).then( response => {
                                this.$router.go('/login')
                            })
                        }
                        this.$swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Sepertinya telah terjadi kesalahan!',
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        })
                        this.$Progress.fail();
                    });
                    
                }
            })
        }
    },
    mounted() {
        this.loadTiers()
    },
}
</script>