<template>
  <div>
      <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Buat Halaman Baru</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Halaman</li>
                    <li class="breadcrumb-item active">Buat Halaman Baru</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">
                
                <div class="card card-primary card-outline">
              <div class="card-header bg-white">
               <div class="form-group row mb-0">
                    <div class="col-sm-9">
                        <input type="text" v-model="form.title" class="form-control" placeholder="Judul Halaman" :class="{ 'is-invalid': form.errors.has('title') }">
                        <has-error :form="form" field="title"></has-error>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button class="btn btn-info text-white" @click.prevent="savePage()"><i class="fas fa-save"></i> Simpan</button>
                        <router-link to="/pages" class="btn btn-danger"><i class="fas fa-times-circle"></i> Tutup</router-link>
                    </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <vue-editor :editorToolbar="customToolbar" :editorOptions="editorSettings" v-model="form.content"> </vue-editor>
                    </div>
                    <div class="col-sm-3">
                        <strong class="orange"><i class="fas fa-cog"></i> Pengaturan Halaman</strong>
                        <hr>
                        <div class="form-group">
                            <label>Tampilkan pada menu</label>
                            <multiselect v-model="form.menu" :options="menus" placeholder="Pilih menu" label="name" track-by="name">
                                <span slot="noResult">Menu tidak ditemukan.</span>
                            </multiselect>
                        </div>
                        <div class="form-group">
                            <label>Nama Pendek / Singkatan <span class="red" title="Wajib diisi">*</span></label>
                            <input type="text" v-model="form.shortname" class="form-control" placeholder="Tulis disini" :class="{ 'is-invalid': form.errors.has('shortname') }">
                            <has-error :form="form" field="shortname"></has-error>
                        </div>
                        <hr>
                        <small class="orange">
                            Catatan : <br>
                            Biarkan menu kosong jika tidak ingin menampilkan halaman ke menu
                        </small>
                    </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>

            </div>
        </div>
  </div>
</template>

<script>

export default {
    data(){
        return {
            menus:[],
            form: new Form({
                title:null,
                content:null,
                shortname:null,
                menu:0,
            }),
            editorSettings: {
                modules: {
                    imageDrop: true,
                    imageResize: {}
                }
            },
            customToolbar: [
                [{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                [{ 'font': [] }],
                // [{ 'size': ['small', false, 'large', 'huge'] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
                // [{ 'header': 1 }, { 'header': 2 }],
                ['blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],
                [{ 'indent': '-1'}, { 'indent': '+1' }],
                [{ 'color': [] }, { 'background': [] }],
                ['link', 'image', 'video', 'formula'],
                [{ 'direction': 'rtl' }],
                ['clean']
            ],
        }
    },
    methods:{
        loadMenu(){
            this.$Progress.start()
            axios.get('/api/getmenu')
            .then( ({data}) => { this.menus = data; this.$Progress.finish() })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sepertinya telah terjadi kesalahan!',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
                this.$Progress.fail();
            });
        },
        savePage(){
            this.$Progress.start()
            this.form.post('/api/savePage')
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$router.push('/pages')
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        }
    },
    mounted(){
        this.loadMenu()
    }
}
</script>