<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Halaman</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Halaman</li>
                    <li class="breadcrumb-item active">Halaman</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
            
                <div class="card card-primary card-outline">
                    <div class="card-header bg-white">
                    <h3 class="card-title mb-0">
                        <router-link to="/create-page" class="btn btn-success btn-sm"><i class="fas fa-edit"></i> Buat Halaman</router-link>
                    </h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 250px;">
                        <input type="text" name="table_search" v-model="search" @keyup.enter="searchPage" class="form-control float-right" placeholder="Cari..">

                        <div class="input-group-append">
                            <button class="btn btn-default" @click="searchPage"><i class="fas fa-search"></i></button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="10">#</th>
                            <th>Judul</th>
                            <th>Pemirsa</th>
                            <th>Tanggal</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-show="pages.total == 0">
                                <td colspan="5"><strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada data untuk ditampilkan.</strong></td>
                            </tr>
                        <tr v-for="(page, index) in pages.data" :key="index">
                            <td>{{ pages.from + index }}</td>
                            <td class="judul">{{ page.title }}
                                <div class="small">
                                    <router-link :to="{name:'edit-page', params:{page_id:page.id} }">Edit</router-link> | <a :href="'/page/'+page.id+'-'+urlEndoce(page.title)+'.html'" target="_blank">Lihat</a> | <a href="#delete" @click.prevent="deletePage(page.id)">Hapus</a>
                                </div>
                            </td>
                            <td><span class="text-gray">{{ page.viewer }} <i class="fas fa-eye"></i> </span></td>
                            <td>{{ page.created_at | formatDate }}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-white">
                        <div class="info blue">
                            Menampilkan <b>{{ pages.from }}</b> - <b>{{ pages.to }}</b> dari <b>{{ pages.total }}</b> data
                        </div>
                        <pagination class="float-right" :data="pages" @pagination-change-page="getResults"></pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            search:null,
            pages:{}
        }
    },
    methods:{
        urlEndoce(str){
            return str.replace(/ /g, '+');
        },
        searchPage(){ 
            this.$Progress.start()
            axios.get('/api/searchPage?q='+this.search)
            .then( ({data}) => ( this.pages = data ))
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        getResults(page = 1) {
			axios.get('/api/pages?page=' + page)
				.then(response => {
					this.pages = response.data;
				});
		},
        loadPages(){
            this.$Progress.start()
            axios.get('/api/pages')
            .then( ({data}) => { this.pages = data; this.$Progress.finish()})
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        deletePage(id) {
        this.$swal({
          title: 'Apa anda yakin?',
          text: "Anda tidak dapat mengembalikan data yang telah dihapus!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'Batal',          
          confirmButtonText: 'Ya, Hapus!'
        }).then((result) => {
          if (result.value) {
            this.$Progress.start()
            axios.delete('/api/page/'+id).then( ({data}) => {
              if(data.status == 'true'){
                this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.loadPages()
                this.$Progress.finish()
              }else{
                this.$swal({
                  title: 'Gagal!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.$Progress.fail()
              }
            })
          }
        })
      }
    },
    mounted(){
        this.loadPages()
    }
}
</script>