<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Pengaturan Pengguna</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <router-link to="/home">Beranda</router-link>
                        </li>
                        <li class="breadcrumb-item active">Pengaturan</li>
                        <li class="breadcrumb-item active">Pengguna</li>
                        <li class="breadcrumb-item active">Tambah Pengguna</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">
                
                <div class="card card-success card-outline">
                    <div class="card-header bg-white">
                        <span class="card-title">Edit Pengguna</span>
                        <div class="card-tools">
                            <router-link to="/settings/users" class="btn btn-primary btn-sm"><i class="fas fa-users"></i> Kembali</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="saveUser">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Foto</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" @change="updateImage" :class="{ 'is-invalid': form.errors.has('photo') }">
                                            <label class="custom-file-label image-name" >{{ form.photo }}</label>
                                        </div>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <img :src="getImage()" width="18">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Nama</label>
                                <div class="col-sm-10">
                                <input type="text" v-model="form.name" class="form-control" placeholder="Nama" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" v-model="form.email" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Akses</label>
                                <div class="col-sm-10">
                                <multiselect v-model="form.type" :allow-empty="false" :options="['admin', 'operator']" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Pilih Akses"></multiselect>
                                <has-error :form="form" field="type"></has-error>
                                </div>
                            </div>

                            <div v-show="form.type == 'operator'" class="form-group row">
                                <label class="col-sm-2 control-label">Jenjang Pendidikan</label>
                                <div class="col-sm-10">
                                <multiselect v-model="form.tier" :options="tiers" placeholder="Pilih Jenjang" label="name" track-by="name">
                                    <span slot="noResult">Jenjang tidak ditemukan.</span>
                                </multiselect>
                                <has-error :form="form" field="password"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Kata Sandi</label>
                                <div class="col-sm-10">
                                <input type="password" class="form-control" v-model="form.password" placeholder="Kata Sandi" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                                </div>
                            </div>

                            <div class="form-group row orange">
                                <label class="col-sm-2"></label>
                                <div class="col-sm-10">
                                    <b>Catatan : </b> <small>Kosongi kata sandi jika tidak ingin mengubah kata sandi!</small>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
                            <router-link to="/settings/users" class="btn btn-danger"><i class="fas fa-times"></i> Batal</router-link>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            form: new Form({
                'id' : null,
                'name' : null,
                'photo' : null,
                'email' : null,
                'type' : null,
                'tier' : null,
                'password' : null
            }),
            tiers:[]
        }
    },
    methods: {
        getUser(){
            this.$Progress.start()
            axios.get('/api/user/'+this.$route.params.user_id)
            .then( ({data})=>{
                this.form.fill(data)
                if (data.tier_id != null) {
                    this.getTier(data.tier_id)
                }
                this.loadTiers()
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
                this.$Progress.fail() 
            })
        },
        getTier(id){
            axios.get('/api/tier/'+id)
            .then( ({data})=>{
                this.form.tier = data
            })
        },
        loadTiers(){
            axios.get('/api/tiers')
            .then( ({data})=>{
                this.tiers = data
            })
        },
        saveUser(){
            this.$Progress.start()
            this.form.put('/api/user/'+this.form.id)
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$router.push('/settings/users')
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if (response.status=='422') {
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Harap isi data dengan lengkap!',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sepertinya telah terjadi kesalahan!',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
                this.$Progress.fail();
            });
        },
        getImage(){
            if(this.form.photo){
                let image = (this.form.photo.length > 200) ? this.form.photo : "/assets/images/app/"+this.form.photo ;
                return image;
            }
        },
        updateImage(e){
            let file = e.target.files[0];
            let reader = new FileReader();

            let limit = 1024 * 1024 * 2;
            if(file['size'] > limit){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'File terlalur besar (max:2MB)',
                })
                return false;
            }else{
                $('.image-name').html(file.name)
                reader.onloadend = (file) => {
                    this.form.photo = reader.result;
                }
                reader.readAsDataURL(file);
            }
        }
    },
    mounted() {
        if(!this.$route.params.user_id){
            this.$router.push('/settings/users')
        }
        this.getUser()
    },
}
</script>