<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pengaturan Pengguna</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pengaturan</li>
                    <li class="breadcrumb-item active">Pengguna</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header bg-white">
                        <span class="card-title">Daftar Pengguna</span>
                        <div class="card-tools">
                            <router-link to="/settings/add-user" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Tambah Pengguna</router-link>
                        </div>
                    </div>
                    <div class="card-body">

                        <div v-if="users.length == 0">
                            <div class="alert alert-fill-info">
                                <strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada Pengguna!</strong>
                            </div>
                        </div>

                        <div class="row d-flex align-items-stretch">

                            <div v-for="(user, index) in users" :key="index" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                <div class="card bg-light mb-0">
                                    <div class="card-header text-info border-bottom-0 bg-light">
                                    {{user.type +' '+user.tier}} 
                                    </div>
                                    <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                        <h2 class="lead"><b>{{user.name}}</b></h2>
                                        <p class="text-muted text-sm"><b>Email: </b> {{user.email}} </p>
                                        </div>
                                        <div class="col-5 text-center">
                                        <img :src="'/assets/images/app/'+user.photo" alt="image" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="card-footer">
                                    <div class="text-right">
                                        <router-link :to="{ name:'edit-user', params:{user_id:user.id} }" class="btn btn-sm bg-success">
                                        <i class="fas fa-edit"></i> Edit
                                        </router-link>
                                        <button type="button" class="btn btn-sm btn-danger" @click="remove(user.id)">
                                        <i class="fas fa-trash"></i> Hapus
                                        </button>
                                    </div>
                                    </div>
                                </div>
                            </div> 

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            users:[]
        }
    },
    methods:{
        loadUsers(){
            this.$Progress.start()
            axios.get('/api/users').then( ({data}) => {
                this.users = data
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
                this.$Progress.fail() 
            })
        },
        remove(id) {
            this.$swal({
            title: 'Apa anda yakin?',
            text: "Anda tidak dapat mengembalikan data ini!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Batal',
            confirmButtonText: 'Ya, Hapus !'
            }).then((result) => {
            if (result.value) {
                this.$Progress.start()
                axios.delete('/api/user/'+id).then( ({data}) => {
                
                if(data.status == 'true'){
                    this.$swal({
                    title: 'Sukses!',
                    text: data.message,
                    type: 'success',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.loadUsers()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                    title: 'Gagal!',
                    text: data.message,
                    type: 'error',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.$Progress.fail()
                }
                })
                
            }
        })
        .catch( ({response}) =>{
            if(response.status=='401'){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sesi telah berakhir, silahkan masuk kembali!',
                }).then( response => {
                    this.$router.go('/login')
                })
            }
            this.$Progress.fail() 
        })
      }
    },
    mounted(){
        this.loadUsers()
    }
}
</script>