<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Slider</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Slider</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <div class="card card-primary card-outline">
                    <div class="card-header bg-white pb-0">
                        <h3 class="card-title">Slider</h3>
                        <div class="card-tools">
                            <router-link v-show="sliders.length < 5" to="/add-slider" class="btn btn-sm btn-success">
                                <i class="fas fa-plus"></i> Tambah Slider
                            </router-link>
                            <span v-show="sliders.length > 4" class="bg-red text-white rounded p-1"><i class="fas fa-info-circle"></i> Maksimal 5 slider</span>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10">#</th>
                                    <th>Judul</th>
                                    <th>Deskripsi</th>
                                    <th>Gambar</th>
                                    <th class="text-center" style="width:200px;">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-show="sliders.length == 0">
                                    <td colspan="5"><strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada data untuk ditampilkan.</strong></td>
                                </tr>
                                <tr v-for="(slider, index) in sliders" :key="index">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ slider.title }}</td>
                                    <td>{{ slider.description }}</td>
                                    <td><img :src="'/assets/images/slider/'+slider.image" alt="IMG" width="50"></td>
                                    <td class="text-center">
                                        <router-link :to="{name:'edit-slider', params:{slider_id:slider.id} }" class="btn text-white btn-info btn-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </router-link> 

                                        <button @click="remove(slider.id)" class="btn btn-danger btn-sm value">
                                            <i class="fas fa-trash"></i> Hapus
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>
<script>
export default {
    data(){
        return {
            sliders:[]
        }
    },
    methods:{
        loadSlider(){
            this.$Progress.start()
            axios.get('/api/slider')
            .then( ({data})=>{
                this.sliders = data
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
                this.$Progress.fail() 
            })
        },
        remove(id) {
            this.$swal({
            title: 'Apa anda yakin?',
            text: "Anda tidak dapat mengembalikan data ini!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Batal',
            confirmButtonText: 'Ya, Hapus !'
            }).then((result) => {
            if (result.value) {
                this.$Progress.start()
                axios.delete('/api/slider/'+id).then( ({data}) => {
                
                if(data.status == 'true'){
                    this.$swal({
                    title: 'Sukses!',
                    text: data.message,
                    type: 'success',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.loadSlider()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                    title: 'Gagal!',
                    text: data.message,
                    type: 'error',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.$Progress.fail()
                }
                })
                
            }
        })
        .catch( ({response}) =>{
            if(response.status=='401'){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sesi telah berakhir, silahkan masuk kembali!',
                }).then( response => {
                    this.$router.go('/login')
                })
            }
            this.$Progress.fail() 
        })
      }
    },
    mounted(){
        this.loadSlider()
    }
}
</script>