<template>
    <div>
         <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pesan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pesan</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>

        <div class="content">
            <div class="container-fluid">

                <div class="card card-primary card-outline">
                    <div class="card-header bg-white">
                    <h3 class="card-title mb-0">Pesan dari pengunjung</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 250px;">
                        <input type="text" name="table_search" v-model="search" @keyup.enter="searchMessage" class="form-control float-right" placeholder="Cari..">

                        <div class="input-group-append">
                            <button class="btn btn-default" @click="searchMessage"><i class="fas fa-search"></i></button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="10">#</th>
                            <th>Nama</th>
                            <th>Kontak</th>
                            <th>Isi Pesan</th>
                            <th>Tanggal</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-show="messages.total == 0">
                                <td colspan="5"><strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada data untuk ditampilkan.</strong></td>
                            </tr>
                        <tr v-for="(message, index) in messages.data" :key="index" :class="{'text-bold':message.status == 0}">
                            <td>{{ messages.from + index }}</td>
                            <td class="judul">{{ message.name }}</td>
                            <td>{{ message.contact }}</td>
                            <td>{{ message.message }}</td>
                            <td>{{ message.updated_at | formatDate }}</td>
                            <td>
                                <router-link :to="{name:'show-message', params:{message_id:message.id} }" class="btn text-white btn-info btn-sm">
                                    <i class="fas fa-eye"></i> Lihat
                                </router-link> 

                                <button @click="deleteMessage(message.id)" title="Hapus" class="btn btn-danger btn-sm value">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-white">
                        <div class="info blue">
                            Menampilkan <b>{{ messages.from }}</b> - <b>{{ messages.to }}</b> dari <b>{{ messages.total }}</b> data
                        </div>
                        <pagination class="float-right" :data="messages" @pagination-change-page="getResults"></pagination>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>
<script>
export default {
    data(){
        return {
            search:null,
            messages:{}
        }
    },
    methods:{
        searchMessage(){ 
            this.$Progress.start()
            axios.get('/api/searchMessage?q='+this.search)
            .then( ({data}) => ( this.messages = data ))
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        getResults(page = 1) {
			axios.get('/api/message?page=' + page)
				.then(response => {
					this.messages = response.data;
				});
		},
        loadMessages(){
            this.$Progress.start()
            axios.get('/api/message')
            .then( ({data}) => { this.messages = data; this.$Progress.finish()})
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sepertinya telah terjadi kesalahan!',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
                this.$Progress.fail();
            });
        },
        deleteMessage(id) {
        this.$swal({
          title: 'Apa anda yakin?',
          text: "Anda tidak dapat mengembalikan data yang telah dihapus!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'Batal',          
          confirmButtonText: 'Ya, Hapus!'
        }).then((result) => {
          if (result.value) {
            this.$Progress.start()
            axios.delete('/api/message/'+id).then( ({data}) => {
              if(data.status == 'true'){
                this.$swal({
                  title: 'Sukses!',
                  text: data.message,
                  type: 'success',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.loadMessages()
                this.$Progress.finish()
              }else{
                this.$swal({
                  title: 'Gagal!',
                  text: data.message,
                  type: 'error',
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000
                })
                this.$Progress.fail()
              }
            })
          }
        })
      }
    },
    mounted(){
        this.loadMessages()
    }
}
</script>