<template>
    <div>

        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pesan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pesan</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>

        <div class="content">
            <div class="container-fluid">

                <div class="card card-primary card-outline">
                    <div class="card-header pb-0">
                        <h3 class="card-title">{{ message.name }} - ({{ message.contact }})</h3>
                        
                        <div class="card-tools">
                            <router-link to="messages" class="btn btn-primary btn-sm"><i class="fas fa-arrow-left"></i> Kembali</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ message.message }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>
<script>
export default {
    data(){
        return{
            message: new Form({
                id:null,
                name:null,
                message:null,
                contact:null,
                status:null,
                created_at:null
            })
        }
    },
    methods:{
        getMessge(){
            this.$Progress.start()
            axios.get('/api/message/'+this.$route.params.message_id)
            .then( ({data})=>{
                this.message.fill(data);
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
                this.$Progress.fail() 
            })
        },
        changeStatus(){
            axios.put('/api/message/'+this.$route.params.message_id).then( ({data}) => {
                console.log(data);
            })
        }
    },
    mounted(){
        if(!this.$route.params.message_id){
            this.$router.push('/messages')
        }
        this.getMessge()
        this.changeStatus()
    }
}
</script>