<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pendaftaran Berhasil !</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Jangan lupa cetak form ini untuk keperluan registrasi ulang!</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">

                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title mb-0">
                            Berikut detail data pendaftar atas nama <b>{{form.name}}</b>
                        </h3>
                        <div class="card-tools">
                            <a :href="'/print/'+form.id" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> <i class="fas fa-print"></i> Cetak Form</a>  
                        </div>
                    </div>
                    <div class="card-body">
    
                        <div v-show="form.tier">
                            <!-- indentitas siswa -->
                            <div class="card card-secondary card-outline">
                                <div class="card-header">
                                    Identitas Peserta Didik
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-start float-right">
                                        <div class="image-container">
                                            
                                            <img :src="'/assets/images/students/'+form.photo" id="imgProfile" style="width: 200px; height: 200px" class="img-thumbnail" :class="{ 'is-invalid': form.errors.has('name') }"/>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Kode Registrasi</label>
                                            <input v-model="form.registration_code" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Jenjang Pendidikan</label>
                                            <input v-model="form.tier.name" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Nama Lengkap</label>
                                            <input v-model="form.name" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Alamat</label>
                                            <input v-model="form.address" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir</label>
                                            <input v-model="form.birth_place" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir </label><br>
                                            <date-picker :readonly="true" :value="form.date_of_birth" format="DD / MM / YYYY" lang="en"  input-class="form-control bg-disabled"></date-picker>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Jenis Kelamin</label>
                                            <input v-model="form.gender" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Status Dalam Keluarga</label>
                                            <input v-model="form.status_in_family" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>No. KK</label>
                                            <input v-model="form.no_kk" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>NIK</label>
                                            <input v-model="form.nik" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Jumlah Saudara Kandung </label>
                                            <input v-model="form.number_of_siblings" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Jumlah Saudara Angkat </label>
                                            <input v-model="form.number_of_foster_brothers" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <!-- untuk sd sederajat -->
                                    <div v-if="form.tier.level == 'Dasar'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Mendaftar di Kelas</label>
                                            <input v-model="form.enroll_in_class" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <!-- untuk smp sederajat -->
                                    <div v-if="form.tier.level == 'Menengah'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Mendaftar di Kelas</label>
                                            <input v-model="form.enroll_in_class" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <!-- Untuk smk sederajat -->
                                    <div v-if="form.tier.level == 'Atas'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Mendaftar di Kelas</label>
                                            <input v-model="form.enroll_in_class" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <!-- Untuk pondok -->
                                    <div v-if="(form.tier.level == 'Asrama') || (form.tier.level == 'Khusus')" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Pendidikan Terakhir </label>
                                            <input v-model="form.last_diploma" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div v-if="(form.tier.level == 'Asrama') || (form.tier.level == 'Khusus')" class="form-row">
                                        <div v-if="form.tier.level == 'Asrama'" class="form-group col-md-6">
                                            <label>Keinginan Untuk Mondok </label>
                                            <input v-model="form.desire_for_school" type="text" class="form-control" disabled>
                                        </div>
                                        <div v-if="form.tier.level == 'Khusus'" class="form-group col-md-6">
                                            <label>Kosentrasi Pendidikan </label>
                                            <input v-model="form.educational_concentration" type="text" class="form-control" disabled>
                                        </div>
                                        <div v-if="form.tier.level == 'Asrama'" class="form-group col-md-6">
                                            <label>Kosentrasi Pendidikan </label>
                                            <input v-model="form.educational_concentration" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div v-if="form.tier.level == 'Khusus'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Keadaan Hafalan </label>
                                            <input v-model="form.rote_state" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Jumlah Hafalan </label>
                                            <input v-model="form.number_of_memorization" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Identitas Siswa -->
                            <!-- Indentitas Orangtua -->
                            <div class="card card-secondary card-outline">
                                <div class="card-header">
                                    Keterangan Orangtua
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Nama Ayah </label>
                                            <input v-model="form.father_name" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir </label>
                                            <input v-model="form.father_birth_place" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir </label><br>
                                            <date-picker :readonly="true" :value="form.father_date_of_birth" format="DD / MM / YYYY" lang="en"  input-class="form-control bg-disabled"></date-picker>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Alamat </label>
                                            <input v-model="form.father_address" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Pekerjaan </label>
                                            <input v-model="form.father_occupation" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Nama Ibu </label>
                                            <input v-model="form.mother_name" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir </label>
                                            <input v-model="form.mother_birth_place" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir </label><br>
                                            <date-picker :readonly="true" :value="form.mother_date_of_birth" format="DD / MM / YYYY" lang="en"  input-class="form-control bg-disabled"></date-picker>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Alamat </label>
                                            <input v-model="form.mother_address" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Pekerjaan </label>
                                            <input v-model="form.mother_occupation" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Identitas Orangtua -->
                            <!-- Keterangan Wali -->
                            <div class="card card-secondary card-outline">
                                <div class="card-header">Keterangan Wali</div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Nama Wali </label>
                                            <input v-model="form.guardian_name" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir </label>
                                            <input v-model="form.guardian_birth_place" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir </label><br>
                                            <date-picker :readonly="true" :value="form.guardian_date_of_birth" format="DD / MM / YYYY" lang="en"  input-class="form-control bg-disabled"></date-picker>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Alamat </label>
                                            <input v-model="form.guardian_address" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Pekerjaan </label>
                                            <input v-model="form.guardian_occupation" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Penghasilan </label>
                                            <input v-model="form.guardian_income" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Keterangan Wali -->
                            <!-- Keterangan Pendidikan -->
                            <div v-if="(form.tier.level == 'Menengah') || (form.tier.level == 'Atas') || (form.tier.level == 'Asrama')" class="card card-secondary card-outline">
                                <div class="card-header">Keterangan Pendidikan</div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Sekolah Asal </label>
                                            <input v-model="form.origin_school" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Nomor Ijazah </label>
                                            <input v-model="form.diploma_number" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Ijazah </label><br>
                                            <date-picker :readonly="true" :value="form.diploma_date" format="DD / MM / YYYY" lang="en"  input-class="form-control bg-disabled"></date-picker>
                                        </div>
                                    </div>
                                    <div v-if="(form.tier.level == 'Atas') || (form.tier.level == 'Menengah')" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Nomor SKHU </label>
                                            <input v-model="form.skhu_number" type="text" class="form-control" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal SKHU </label><br>
                                            <date-picker :readonly="true" :value="form.skhu_date" format="DD / MM / YYYY" lang="en"  input-class="form-control bg-disabled"></date-picker>
                                        </div>
                                    </div>
                                    <div v-if="(form.tier.level == 'Atas') || (form.tier.level == 'Menengah')" class="form-row">
                                        <div class="form-groub col-md-6">
                                            <label>Kelulusan</label>
                                            <input v-model="form.graduation" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Keterangan Pendidikan -->
                        </div>
                    </div>
                    <div class="card-footer">
                        <a :href="'/print/'+form.id" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> <i class="fas fa-print"></i> Cetak Form</a>
                        <a href="/register" class="float-right btn btn-success"> <i class="fas fa-user-plus"></i> Registrasi Lagi</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            form : new Form({
                id:null,
                tier:'',
                tier_id:null,
                registration_code:null,
                aproval:null,
                //identitas siswa
                name: null, //nama
                address:null, //alamat
                birth_place:null, //templat lahir
                date_of_birth:null, //tanggal lahir
                gender:null, //jenis kelamin
                no_kk:null, //nomor kk
                nik:null, //nik
                enroll_in_class:null, //masuk di kelas
                number_of_siblings:null, //jumlah saudara kandung
                number_of_foster_brothers:null, // jumlah saudara angkat
                status_in_family:null, //status dalam keluarga
                photo:null, //foto
                last_diploma:null, //pendidikan terakhir
                educational_concentration:null, //konsentrasi pendidikan
                desire_for_school:null, //keinginan untuk sekolah
                rote_state:null, //keadaan hafalan
                number_of_memorization:null, //jumlah hafalan
                //Keterangan orang tua
                father_name:null, //nama ayah
                father_address:null, //alamat ayah
                father_birth_place:null, //tempat lahir ayah
                father_date_of_birth:null, //tanggal lahir ayah
                father_occupation:null, //pekerjaan ayah
                mother_name:null, //nama ibu
                mother_address:null, //alamat ibu
                mother_birth_place:null, //tempat lahir ibu
                mother_date_of_birth:null, //tanggal lahir ibu
                mother_occupation:null, //pekerjaan ibu
                //keterangan wali
                guardian_name:null, //nama wali
                guardian_address:null, //alamat wali
                guardian_birth_place:null, //tempat lahir wali
                guardian_date_of_birth:null, //tanggal lahir wali
                guardian_occupation:null, //pekerjaan wali
                guardian_income:null, //penghasilan wali
                //Keterangan Pendidikan
                origin_school:null, //sekolah asala
                diploma_date:null, //tanggal ijazah
                diploma_number:null, //nomor ijazah
                skhu_date:null, //tanggal skhu
                skhu_number:null, //nomor skhu
                graduation:null //kelulusan (Lulus/Tidak)
            })
        }
    },
    methods: {
        getStudent(){
            this.$Progress.start()
            axios.get('/registered/'+this.$route.params.student_id).then( ({data})=>{
                this.form.fill(data)
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        }
        
    },
    mounted() {
        // if(!this.$route.params.student_id){
        //     this.$router.push('/register')
        // }
        this.getStudent()
    },
}
</script>