<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Edit Peserta Didik</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">PPDB</li>
                    <li class="breadcrumb-item active">Edit Peserta Didik</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">

                <form @submit.prevent="updateStudent">
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title mb-0">
                            Tambah Peserta Didik Baru
                        </h3>
                        <div class="card-tools">
                            <router-link to="/students" class="btn btn-sm btn-danger"><i class="fas fa-times"></i> Batal</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- select tier -->
                        <div class="card card-info" v-if="$user.isAdmin()">
                            <div class="card-header">Jenjang Pendidikan</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Jenjang Pendidikan</label>
                                    <div class="col-sm-9">
                                        <multiselect v-model="form.tier" :options="tiers" placeholder="Pilih Jenjang Pendidikan" label="name" track-by="name">
                                            <span slot="noResult">Jenjang tidak ditemukan.</span>
                                        </multiselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end select tier -->
    
                        <div v-show="form.tier">
                            <!-- indentitas siswa -->
                            <div class="card card-secondary card-outline">
                                <div class="card-header">
                                    Identitas Peserta Didik
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-start float-right">
                                        <div class="image-container">
                                            
                                            <img :src="getPhoto(form.photo)" id="imgProfile" style="width: 200px; height: 200px" class="img-thumbnail" :class="{ 'is-invalid': form.errors.has('name') }"/>
                                            <span class="red">* Maksimal Ukuran : 2MB</span>
                                            <has-error :form="form" field="photo"></has-error>
                                            <div class="middle">
                                                <input type="button" class="btn btn-info" id="btnChangePicture" @click="changeClick" value="Select" />
                                                <input type="file" style="display: none;" id="profilePicture" @change="changePhoto" name="file" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Kode Registrasi</label>
                                            <input v-model="form.registration_code" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Nama Lengkap <small class="red">*</small></label>
                                            <input v-model="form.name" type="text" class="form-control" placeholder="Nama Peserta Didik" :class="{ 'is-invalid': form.errors.has('name') }">
                                            <has-error :form="form" field="name"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Alamat <small class="red">*</small></label>
                                            <input v-model="form.address" type="text" class="form-control" placeholder="Alamat" :class="{ 'is-invalid': form.errors.has('address') }">
                                            <has-error :form="form" field="address"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir <small class="red">*</small></label>
                                            <input v-model="form.birth_place" type="text" class="form-control" placeholder="Tempat Lahir" :class="{ 'is-invalid': form.errors.has('birth_place') }">
                                            <has-error :form="form" field="birth_place"></has-error>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir <small class="red">*</small></label><br>
                                            <date-picker v-model="form.date_of_birth" format="DD / MM / YYYY" lang="en"  input-class="form-control" :class="{ 'is-invalid': form.errors.has('date_of_birth') }"></date-picker>
                                            <has-error :form="form" field="date_of_birth"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Jenis Kelamin <small class="red">*</small></label>
                                            <multiselect v-model="form.gender" :options="['Laki-Laki', 'Perempuan']" placeholder="Pilih Jenis Kelamin" :searchable="false" :class="{ 'is-invalid': form.errors.has('gender') }"></multiselect>
                                            <has-error :form="form" field="gender"></has-error>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Status Dalam Keluarga <small class="red">*</small></label>
                                            <multiselect v-model="form.status_in_family" :options="['Anak Kandung', 'Anak Angkat', 'Lainnya']" placeholder="Pilih Status" :searchable="false" :class="{ 'is-invalid': form.errors.has('status_in_family') }"></multiselect>
                                            <has-error :form="form" field="status_in_family"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>No. KK</label>
                                            <input v-model="form.no_kk" type="text" class="form-control" placeholder="Nomor Kartu Keluarga">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>NIK</label>
                                            <input v-model="form.nik" type="text" class="form-control" placeholder="Nomor Induk Keluarga">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Jumlah Saudara Kandung </label>
                                            <input v-model="form.number_of_siblings" type="text" class="form-control" placeholder="Jumlah Saudara Kandung">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Jumlah Saudara Angkat </label>
                                            <input v-model="form.number_of_foster_brothers" type="text" class="form-control" placeholder="Jumlah Saudara Angkat">
                                        </div>
                                    </div>
                                    <!-- untuk sd sederajat -->
                                    <div v-if="form.tier.level == 'Dasar'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Mendaftar di Kelas <small class="red">*</small></label>
                                            <multiselect v-model="form.enroll_in_class" :options="['I', 'II', 'III', 'IV', 'V', 'VI']" placeholder="Pilih Kelas" :searchable="false" :class="{ 'is-invalid': form.errors.has('enroll_in_class') }"></multiselect>
                                            <has-error :form="form" field="enroll_in_class"></has-error>
                                        </div>
                                    </div>
                                    <!-- untuk smp sederajat -->
                                    <div v-if="form.tier.level == 'Menengah'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Mendaftar di Kelas <small class="red">*</small></label>
                                            <multiselect v-model="form.enroll_in_class" :options="['VII', 'VIII', 'IX']" placeholder="Pilih Kelas" :searchable="false" :class="{ 'is-invalid': form.errors.has('enroll_in_class') }"></multiselect>
                                            <has-error :form="form" field="enroll_in_class"></has-error>
                                        </div>
                                    </div>
                                    <!-- Untuk smk sederajat -->
                                    <div v-if="form.tier.level == 'Atas'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Mendaftar di Kelas <small class="red">*</small></label>
                                            <multiselect v-model="form.enroll_in_class" :options="['X', 'XI', 'XII']" placeholder="Pilih Kelas" :searchable="false" :class="{ 'is-invalid': form.errors.has('enroll_in_class') }"></multiselect>
                                            <has-error :form="form" field="enroll_in_class"></has-error>
                                        </div>
                                    </div>
                                    <!-- Untuk pondok -->
                                    <div v-if="(form.tier.level == 'Asrama') || (form.tier.level == 'Khusus')" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Pendidikan Terakhir </label>
                                            <input v-model="form.last_diploma" type="text" class="form-control" placeholder="Pendidikan Terakhir">
                                        </div>
                                    </div>
                                    <div v-if="(form.tier.level == 'Asrama') || (form.tier.level == 'Khusus')" class="form-row">
                                        <div v-if="form.tier.level == 'Asrama'" class="form-group col-md-6">
                                            <label>Keinginan Untuk Mondok </label>
                                            <multiselect v-model="form.desire_for_school" :options="['Atas Kemauan Sendiri', 'Atas Kemauan Orangtua', 'Lainnya']" placeholder="Pilih Alasan" :searchable="false"></multiselect>
                                        </div>
                                        <div v-if="form.tier.level == 'Khusus'" class="form-group col-md-6">
                                            <label>Kosentrasi Pendidikan </label>
                                            <multiselect v-model="form.educational_concentration" :options="['Konsentrasi Tahfidz', 'Tahfidz Sambil Sekolah']" placeholder="Pilih Konsentrasi" :searchable="false"></multiselect>
                                        </div>
                                        <div v-if="form.tier.level == 'Asrama'" class="form-group col-md-6">
                                            <label>Kosentrasi Pendidikan </label>
                                            <multiselect v-model="form.educational_concentration" :options="['Reguler', 'Konsentrasi Kitab', 'Konsentrasi Tahfidz']" placeholder="Pilih Konsentrasi" :searchable="false"></multiselect>
                                        </div>
                                    </div>
                                    <div v-if="form.tier.level == 'Khusus'" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Keadaan Hafalan </label>
                                            <multiselect v-model="form.rote_state" :options="['Dari Awal', 'Meneruskan', 'Lainnya']" placeholder="Pilih Keadaan" :searchable="false"></multiselect>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Jumlah Hafalan </label>
                                            <input v-model="form.number_of_memorization" type="text" class="form-control" placeholder="Jumlah Hafalan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Identitas Siswa -->
                            <!-- Indentitas Orangtua -->
                            <div class="card card-secondary card-outline">
                                <div class="card-header">
                                    Keterangan Orangtua
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Nama Ayah <small class="red">*</small></label>
                                            <input v-model="form.father_name" type="text" class="form-control" placeholder="Nama Ayah" :class="{ 'is-invalid': form.errors.has('father_name') }">
                                            <has-error :form="form" field="father_name"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir </label>
                                            <input v-model="form.father_birth_place" type="text" class="form-control" placeholder="Tempat Lahir Ayah">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir </label><br>
                                            <date-picker v-model="form.father_date_of_birth" format="DD / MM / YYYY" lang="en" input-class="form-control"></date-picker>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Alamat <small class="red">*</small></label>
                                            <input v-model="form.father_address" type="text" class="form-control" placeholder="Alamat Ayah" :class="{ 'is-invalid': form.errors.has('father_address') }">
                                            <has-error :form="form" field="father_address"></has-error>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Pekerjaan <small class="red">*</small></label>
                                            <input v-model="form.father_occupation" type="text" class="form-control" placeholder="Pekerjaan Ayah" :class="{ 'is-invalid': form.errors.has('father_occupation') }">
                                            <has-error :form="form" field="father_occupation"></has-error>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Nama Ibu <small class="red">*</small></label>
                                            <input v-model="form.mother_name" type="text" class="form-control" placeholder="Nama Ibu" :class="{ 'is-invalid': form.errors.has('mother_name') }">
                                            <has-error :form="form" field="mother_name"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir </label>
                                            <input v-model="form.mother_birth_place" type="text" class="form-control" placeholder="Tempat Lahir Ibu">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir </label><br>
                                            <date-picker v-model="form.mother_date_of_birth" format="DD / MM / YYYY" lang="en" input-class="form-control"></date-picker>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Alamat <small class="red">*</small></label>
                                            <input v-model="form.mother_address" type="text" class="form-control" placeholder="Alamat Ibu" :class="{ 'is-invalid': form.errors.has('mother_address') }">
                                            <has-error :form="form" field="mother_address"></has-error>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Pekerjaan <small class="red">*</small></label>
                                            <input v-model="form.mother_occupation" type="text" class="form-control" placeholder="Pekerjaan Ibu" :class="{ 'is-invalid': form.errors.has('mother_occupation') }">
                                            <has-error :form="form" field="mother_occupation"></has-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Identitas Orangtua -->
                            <!-- Keterangan Wali -->
                            <div class="card card-secondary card-outline">
                                <div class="card-header">Keterangan Wali</div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Nama Wali <small class="red">*</small></label>
                                            <input v-model="form.guardian_name" type="text" class="form-control" placeholder="Nama Wali" :class="{ 'is-invalid': form.errors.has('guardian_name') }">
                                            <has-error :form="form" field="guardian_name"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Tempat Lahir </label>
                                            <input v-model="form.guardian_birth_place" type="text" class="form-control" placeholder="Tempat Lahir Wali">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Lahir </label><br>
                                            <date-picker v-model="form.guardian_date_of_birth" format="DD / MM / YYYY" lang="en" input-class="form-control"></date-picker>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Alamat <small class="red">*</small></label>
                                            <input v-model="form.guardian_address" type="text" class="form-control" placeholder="Alamat Wali" :class="{ 'is-invalid': form.errors.has('guardian_address') }">
                                            <has-error :form="form" field="guardian_address"></has-error>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Pekerjaan <small class="red">*</small></label>
                                            <input v-model="form.guardian_occupation" type="text" class="form-control" placeholder="Pekerjaan Wali" :class="{ 'is-invalid': form.errors.has('guardian_occupation') }">
                                            <has-error :form="form" field="guardian_occupation"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Penghasilan </label>
                                            <input v-model="form.guardian_income" type="text" class="form-control" placeholder="Penghasilan / Bulan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Keterangan Wali -->
                            <!-- Keterangan Pendidikan -->
                            <div v-if="(form.tier.level == 'Menengah') || (form.tier.level == 'Atas') || (form.tier.level == 'Asrama')" class="card card-secondary card-outline">
                                <div class="card-header">Keterangan Pendidikan</div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Sekolah Asal </label>
                                            <input v-model="form.origin_school" type="text" class="form-control" placeholder="Sekolah Asal">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Nomor Ijazah </label>
                                            <input v-model="form.diploma_number" type="text" class="form-control" placeholder="Nomor Ijazah">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal Ijazah </label><br>
                                            <date-picker v-model="form.diploma_date" format="DD / MM / YYYY" lang="en"  input-class="form-control"></date-picker>
                                        </div>
                                    </div>
                                    <div v-if="(form.tier.level == 'Atas') || (form.tier.level == 'Menengah')" class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Nomor SKHU </label>
                                            <input v-model="form.skhu_number" type="text" class="form-control" placeholder="Nomor SKHU">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tanggal SKHU </label><br>
                                            <date-picker v-model="form.skhu_date" format="DD / MM / YYYY" lang="en" input-class="form-control"></date-picker>
                                        </div>
                                    </div>
                                    <div v-if="(form.tier.level == 'Atas') || (form.tier.level == 'Menengah')" class="form-row">
                                        <div class="form-groub col-md-6">
                                            <label>Kelulusan</label>
                                            <multiselect v-model="form.graduation" :options="['Lulus', 'Tidak Lulus']" placeholder="Pilih Jenis Kelulusan" :searchable="false"></multiselect>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Keterangan Pendidikan -->
                        </div>
                    </div>
                    <div class="card-footer">
                        <router-link to="/students" class="btn btn-danger float-right"><i class="fas fa-times"></i> Batal</router-link>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
                    </div>
                </div>
                </form>
                
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            tiers:[],
            form : new Form({
                id:null,
                tier:'',
                tier_id:null,
                registration_code:null,
                //identitas siswa
                name: null, //nama
                address:null, //alamat
                birth_place:null, //templat lahir
                date_of_birth:null, //tanggal lahir
                gender:null, //jenis kelamin
                no_kk:null, //nomor kk
                nik:null, //nik
                enroll_in_class:null, //masuk di kelas
                number_of_siblings:null, //jumlah saudara kandung
                number_of_foster_brothers:null, // jumlah saudara angkat
                status_in_family:null, //status dalam keluarga
                photo:null, //foto
                last_diploma:null, //pendidikan terakhir
                educational_concentration:null, //konsentrasi pendidikan
                desire_for_school:null, //keinginan untuk sekolah
                rote_state:null, //keadaan hafalan
                number_of_memorization:null, //jumlah hafalan
                //Keterangan orang tua
                father_name:null, //nama ayah
                father_address:null, //alamat ayah
                father_birth_place:null, //tempat lahir ayah
                father_date_of_birth:null, //tanggal lahir ayah
                father_occupation:null, //pekerjaan ayah
                mother_name:null, //nama ibu
                mother_address:null, //alamat ibu
                mother_birth_place:null, //tempat lahir ibu
                mother_date_of_birth:null, //tanggal lahir ibu
                mother_occupation:null, //pekerjaan ibu
                //keterangan wali
                guardian_name:null, //nama wali
                guardian_address:null, //alamat wali
                guardian_birth_place:null, //tempat lahir wali
                guardian_date_of_birth:null, //tanggal lahir wali
                guardian_occupation:null, //pekerjaan wali
                guardian_income:null, //penghasilan wali
                //Keterangan Pendidikan
                origin_school:null, //sekolah asala
                diploma_date:null, //tanggal ijazah
                diploma_number:null, //nomor ijazah
                skhu_date:null, //tanggal skhu
                skhu_number:null, //nomor skhu
                graduation:null //kelulusan (Lulus/Tidak)
            })
        }
    },
    methods: {
        updateStudent(){
            this.$Progress.start()
            this.form.put('/api/student/'+this.form.id)
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$router.push('/students')
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }else if (response.status=='422') {
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Harap isi dengan lengkap!',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sepertinya telah terjadi kesalahan!',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
                this.$Progress.fail();
            });
        },
        getPhoto(){
            if(this.form.photo){
                let image = (this.form.photo.length > 200) ? this.form.photo : "/assets/images/students/"+this.form.photo ;
                return image;
            }
        },
        getStudent(){
            this.$Progress.start()
            axios.get('/api/student/'+this.$route.params.student_id).then( ({data})=>{
                this.loadTiers()
                this.form.fill(data)
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },
        loadTiers(){
            this.$Progress.start()
            axios.get('/api/tiers')
            .then( ({data})=>{
                this.tiers = data
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }else if(response.status=='403'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Akses ditolak!',
                    }).then( response => {
                        this.$router.push('/forbiden')
                    })
                }
                this.$Progress.fail() 
            })
        },
        readURL(input) {
            this.$Progress.start()
            if ( input[0].files[0]['size'] < 2111775 ) {

                let reader = new FileReader()
                
                reader.onload = (e) => {
                    $('#imgProfile').attr('src', e.target.result);
                    this.form.photo = e.target.result
                };

                reader.readAsDataURL(input[0].files[0]);
                this.$Progress.finish()
            }else{
                this.$swal({
                    title: 'Oops!',
                    text: 'Foto terlalu besar !.',
                    type: 'error',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail()
            }
        },
        changeClick(){
            $('#profilePicture').click();
        },
        changePhoto(){
            this.readURL($('#profilePicture'));
        }
    },
    mounted() {
        if(!this.$route.params.student_id){
            this.$router.push('/students')
        }
        this.getStudent()
    },
}
</script>