<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Peserta Didik</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">PPDB</li>
                    <li class="breadcrumb-item active">Peserta Didik</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title mb-0">
                            <router-link to="/add-student" class="btn btn-success"><i class="fa fa-user-plus"></i> Tambah Peserta Didik</router-link>
                        </h3>

                        <div v-if="$user.isAdmin()" class="col-md-3 ml-auto mr-auto" style="margin-top:-40px;">
                            <multiselect @select="filterData" @remove="removeFilter" v-model="filter" :options="tiers" placeholder="Tampilkan" label="name" track-by="name">
                                <span slot="noResult">Jenjang tidak ditemukan.</span>
                            </multiselect>
                        </div>
                        <div class="card-tools">
                            <div class="input-group" style="width: 250px;">
                            <input type="text" name="table_search" v-model="search" @keyup.enter="searchData" class="form-control float-right" placeholder="Cari..">

                            <div class="input-group-append">
                                <button class="btn btn-default" @click="searchData"><i class="fas fa-search"></i></button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="10">#</th>
                            <th>Code Registrasi</th>
                            <th>Nama</th>
                            <th>Jenjang</th>
                            <th>Tanggal</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-show="data.total == 0">
                                <td colspan="5"><strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada data untuk ditampilkan.</strong></td>
                            </tr>
                        <tr v-for="(student, index) in data.data" :key="index" :class="{ 'text-bold' : student.status == 0 }">
                            <td>{{ data.from + index }}</td>
                            <td><router-link :to="{name:'show-student', params:{student_id:student.id} }" title="Lihat">{{ student.registration_code }}</router-link> </td>
                            <td>{{ student.name | upText}}</td>
                            <td>{{ student.tier.name }}</td>
                            <td>{{ student.created_at | formatDate }}</td>
                            <td v-if="student.aproval == 'verify'" class="orange"> Belum Registrasi Ulang</td>
                            <td v-if="student.aproval == 'aprove'" class="green"> Diterima</td>
                            <td v-if="student.aproval == 'reject'" class="red"> Ditolak</td>
                            <td>
                                <div class="small">
                                    <router-link :to="{name:'edit-student', params:{student_id:student.id} }" class="orange" title="Edit"><i class="fa fa-edit"></i></router-link> - <a href="#delete" @click.prevent="deleteData(student.id)" class="red" title="Hapus"><i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    </div>
                    <div class="card-footer bg-white">
                        <div class="info blue">
                            Menampilkan <b>{{ data.from }}</b> - <b>{{ data.to }}</b> dari <b>{{ data.total }}</b> data
                        </div>
                        <pagination class="float-right" :data="data" @pagination-change-page="getResults"></pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            data:{},
            tiers: [],
            search:'',
            filter:''
        }
    },
    methods: {
        getResults(page = 1) {
			axios.get('/api/student?page=' + page)
				.then(response => {
					this.data = response.data;
				});
		},
        removeFilter(){
            this.loadData()
        },
        filterData(data){
            this.$Progress.start()
            axios.get('/api/filter/'+data.id).then( ({data})=>{
                this.data = data
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },
        loadTiers(){
            axios.get('/api/tiers').then( ({data})=>{ this.tiers = data })
         },
        searchData(){
            this.$Progress.start()
            axios.get('/api/searchStudent?q='+this.search)
            .then( ({data}) => ( this.data = data ))
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        loadData(){
            this.$Progress.start()
            axios.get('/api/student').then( ({data})=>{
                this.data = data
                this.loadTiers()
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },
        deleteData(id) {
            this.$swal({
            title: 'Apa anda yakin?',
            text: "Anda tidak dapat mengembalikan data yang telah dihapus!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Batal',          
            confirmButtonText: 'Ya, Hapus!'
            }).then((result) => {
            if (result.value) {
                this.$Progress.start()
                axios.delete('/api/student/'+id).then( ({data}) => {
                if(data.status == 'true'){
                    this.$swal({
                    title: 'Sukses!',
                    text: data.message,
                    type: 'success',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.loadData()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                    title: 'Gagal!',
                    text: data.message,
                    type: 'error',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.$Progress.fail()
                }
                })
            }
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
      }
    },
    mounted() {
        this.loadData()
    },
}
</script>